<h1>Hello,Rails</h1>
<h2><%= @title %></h2>
<h4> <%= link_to 'New Article',new_article_path %> </h4>
<ul>
<% @articles.each do |article| %>
    <li>Item 
        <%= article.id %>
        <br>
        <%= link_to article.body, article_path(article) %>
    </li>
<% end %> 
</ul>